
<%= javascript_include_tag "bundle_edge" %>
<div class="panel panel-primary">
	<div class="panel-heading"></div>
	<div class = "row">
		<div class="col-md-8 col-md-offset-2">
			<div id="panel-bundle" class="panel-body ">			
				<%= javascript_tag "showBundle();"%>
				</div class = "panel-footer">
			</div>
		</div>
	</div>
