<%= javascript_include_tag "popover" %>
<div id="popover_content_wrapper" style="display: none">
	<div id="FirstDiv"></div>
	<div id="SecondDiv"></div>
	<div id="ThirdDiv"></div>
	<div>
          <hr/>

	</div>
</div>
<!--div id="dialog" title="pepe"></div-->