<!-- <div class="panel panel-primary"> -->
	<div class="panel-heading">
		<span class="btn btn-primary btn-lg" role="button" id="generarButtonBundle"><i class="fa fa-magic"></i> Generate </span>
	</div>

	<div class = "row">
		<div class="col-md-11 col-md-offset-1">
			<div id="panel-bundle" class="panel-body ">
				<%= javascript_tag "loadBundleButton();"%>
				<%= javascript_tag "showBundle();"%>
            </div>
        </div>
    </div>
<!-- </div> -->
