<!-- <div class="panel panel-primary"> -->
	<div class="panel-heading">
		<span class="btn btn-primary btn-lg" role="button" id="generarButtonTree"><i class="fa fa-magic"></i> Generate </span>
	</div>

	<div class = "row">
		<div class="col-md-12">
			<div id="panel-tree" class="panel-body ">
				<%= javascript_tag "loadTreeButton();"%>
				<%= javascript_tag "showTree();"%>
				</div>
			</div>
		</div>
	<!-- </div> -->
