<%= javascript_include_tag "bundle_tree" %>
<div class="panel panel-primary">
	<div class="panel-heading"></div>
	<div class = "row">
		<div class="col-md-8 col-md-offset-2">
			<div id="panel-tree" class="panel-body ">
				<%= javascript_tag "showTree();"%>
				</div class = "panel-footer">
			</div>
		</div>
	</div>
