<div class="panel panel-primary">
	<div id="piesinglechart_3d" style="width: 95%">
		<div>
			<h3><span style= "margin-left: 20px"><span style="font-weight:bold"><%= @fileName%> </span></span></h3>
		</div>
		<%
      @dataColumnChart = Hash.new
        @dataByFile = @fileData[@fileName]
      
      
      @dataColumnChart["Anti Pattern Detected"] = @dataByFile["totalAntiPatterns"]
      @dataColumnChart["Proposed Solutions"] = @dataByFile["totalSolutions"]

      @dataPieChart = Hash.new
      @dataPieChart = @dataByFile["stats"]
%>
			<div id="column-chart">
				<%= column_chart(@dataColumnChart)%>
			</div>
			<div id="pie-chart">
				<%= pie_chart(@dataPieChart)%>
			</div>
	</div>
</div>