<div class="panel panel-primary">
	<div style="width: 95%">
		<div>
			<h3><span style= "margin-left: 20px"><span style="font-weight:bold"><%= @fileName%> </span></span></h3>
		</div>
		<%
      @dataColumnChartS = Hash.new
      puts 'acarompeeeeeeeeeeee'
      puts @@fileData
        @dataByFileS = @@fileData[@fileName]
      
      
      @dataColumnChartS["Anti Pattern Detected"] = @dataByFileS["totalAntiPatterns"]
      @dataColumnChartS["Proposed Solutions"] = @dataByFileS["totalSolutions"]

      @dataPieChartS = Hash.new
      @dataPieChartS = @dataByFileS["stats"]
%>
				<%= column_chart(@dataColumnChartS)%>
				<%= pie_chart(@dataPieChartS)%>
	</div>
</div>