// import the CSS framework
@import "bootstrap";
@import "welcome.css.scss";
@import "bootstrap-slider";
@import "inverted_radial_layout.css.scss";
@import "bundle_rotate_cluster.css.scss";
@import "bundle_rotate_cluster.css.scss";
@import "popover_layout.css.scss";
@import "jquery.ui.all";
@import "extrunder.css.scss";
@import "navigation.css.scss";

img {
  @extend .img-responsive;
  margin: 0 auto;
  }
// override for the 'Home' navigation link
.navbar-brand {
  font-size: inherit;
  }

// THESE ARE EXAMPLES YOU CAN MODIFY
// create your own classes
// to make views framework-neutral
.column {
  @extend .col-md-6;
  @extend .text-center;
  }
.form {
  @extend .col-md-6;
  }
.form-centered {
  @extend .col-md-6;
  @extend .text-center;
  }
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
  }
// apply styles to HTML elements
// to make views framework-neutral
main {
  @extend .container;
  background-color: #eee;
  padding-bottom: 80px;
  width: 100%;
  margin-top: 51px; // accommodate the navbar
  }
section {
  @extend .row;
  margin-top: 20px;
  }

///////////////////////////////
//FILES PANEL
//////////////////////////////

.left-panel{
 background-color: #FFF;
  -webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}
.left-panel .table-container{
  padding:10px;
  background-color: #FFF;
  //height:500px;
}  
.left-panel .table-container table{
 // width:100%;
 //  table-layout:fixed; 
}
.left-panel .table-container tbody{
   height: 500px; 
    overflow: auto;
  }


.left-panel .table-container thead > tr, tbody {
   display: block;
   width: 100%;
}
.left-panel .table-container thead tr .th-width {
  width:400px;
}
.left-panel .table-container tbody tr .th-width {
  width:400px;
}
.page-main{
  padding:20px;

  -webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 20px;
}
.panel-primary{
  
}
