// Place all the styles related to the invertedRadial controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.slider-selection {
  background: #BABABA;
}
.node{cursor: pointer;}

#mymodal{
   
   display:none;
    position:absolute;
}