<div class="panel panel-primary">
	<div class="panel-heading panel-heading-tabs">
		<span class="pull-left"> <!-- Tabs -->
			<ul class="nav panel-tabs">
				<li class="active">
					<a href="#tab1" data-toggle="tab"> <i class="fa fa-file-text-o"></i> Files</a>
				</li>
				<li>
					<a href="#tab2" data-toggle="tab"><i class="fa fa-info-circle"></i> Info</a>
				</li>
			</ul> </span>
	</div>
	<div class="panel-body">
		<div class="tab-content">
			<div class="tab-pane active" id="tab1">
				<div class ="panel-container">
					<input style="display:none;" type="file" name="file_upload" id="file_upload" multiple>
					<div class = "row table-container">
						<table id="files-table" class="table table-striped table-hover table-responsive">
							<thead>
								<th class = "th-width"><span class="dropdown">
									<button type="button" role="checkbox" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
										<i class="fa fa-list"></i> Select <span class="caret"></span>
									</button>
									<ul class="dropdown-menu" role="menu">
										<li>
											<a id="select-all">All</a>
											<a id="select-none" >None</a>
											<a id="select-inverted" >Invert Selection</a>
										</li>
									</ul> </span>
								<div class="btn-group pull-right">
									<button id="btn-add" class="btn btn-success">
										<i class="fa fa-plus-square-o"></i> Add
									</button>
									<button id="btn-delete" class="btn btn-danger">
										<i class="fa fa-trash-o"></i> Delete
									</button>
								</div></th>
							</thead>
							<tbody></tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="tab-pane" id="tab2">
				<div class ="panel-container">
					<div class = "row table-container">
						<div class="panel panel-default">
							<div class="panel-heading">
								  <h3 class="panel-title">
                                    <i class="fa fa-info-circle"></i> Service Info:
                                    <i id="ServiceInfoPanelTitle"></i>
                                  </h3>
							</div>
							<div class="panel-body">
								<div id="ServiceData">
									<div class="row">
										<div class = "col-md-4" style="text-align: right;">
											<strong>File Name: </strong>
										</div>
										<div class = "col-md-8"  id = "fileName"></div>
									</div>
									<div class = "row">
										<div class = "col-md-4" style="text-align: right;">

											<strong>Service Name: </strong>
										</div>
										<div class = "col-md-8" id = "serviceName"></div>
									</div>
                                  <div class = "row">
                                    <div class = "col-md-12" style="margin-top: 20px;text-align: right;" id = "moreInfoButton"></div>
                                  </div>
									<div class = "row">
										<div class = "col-md-12" style="margin-top: 20px;text-align: right;" id = "serviceButton"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class ="panel-container">
					<div class = "row table-container">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title"><i class="fa fa-info-circle"></i></span> Services in File: </h3>
							</div>
							<div class="panel-body">
								<div id="file-information-content"></div>
							</div>
						</div>
					</div>

				</div>
				<div class ="panel-container">
					<div class = "row table-container">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title"><i class="fa fa-info-circle"></i></span> AntiPattern Info:
								<button id="btn-anti-pattern" class="btn btn-success btn-xs" style="float: right;">
									Detect anti patterns
								</button></h3>
							</div>
							<div id="panel-detector" class="panel-body">
								<div id="anti-pattern-content"></div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>

	</div>
</div>

