<div class ="panel-container">

<input style="display:none;" type="file" name="file_upload" id="file_upload" multiple>
	<div class = "row table-container">
	<table id="files-table" class="table table-striped table-hover table-responsive">
		<thead>		
				<th class = "th-width">Files:				
	            <span id = "btn-add" class = "btn-table btn-add"></span>
	            <span class = "btn-table btn-delete"></span>
	            </th>
		</thead>
		<tbody></tbody>
	</table>
	</div>
</div>
