<div class ="panel-container">
	<form action="#" enctype="multipart/form-data" method="post">
	<ul>
		<li>
			<label for="name">Name:</label>
			<input type="text" name="name" id="name" multiple>
		</li>

		<li>
			<label for="file_upload">File:</label>
			<input type="file" name="file_upload" id="file_upload" multiple>
		</li>
	</ul>
</form>
	<div class = "table-container">
	<table id="files-table" class="table table-striped table-hover table-responsive">
		<thead>	
			<tr>
				<th class = "th-width">File List
					<button style="float:right;">add</button>
	            <button style="float:right;">delete</button></th>
				
			</tr>
		</thead>
		<tbody></tbody>
	</table>
	</div>
</div>
